manifest {
    homePage = 'https://github.com/aghozlane/pcm'
    description = 'Annotation using pcm approach'
    mainScript = 'pcm.nf'
}

process {
    withName: prosa_check {
        executor = 'local'                                                       
    }
}

profiles {

    hub {
        process.executor = 'slurm'
        process.clusterOptions='--qos=hubbioit'
        process.queue = 'hubbioit'
        process.beforeScript ='source /local/gensoft2/adm/etc/profile.d/modules.sh;module use /pasteur/projets/policy01/Matrix/modules'
        process.module = 'Python/2.7.8:Clustal-Omega/1.2.1:fasta:hmmer/3.1b2:blast+/2.6.0:R/3.5.0'
        process.withLabel.modelling.beforeScript = 'source /local/gensoft2/adm/etc/profile.d/modules.sh;module use /pasteur/projets/policy01/Matrix/modules;export PYTHONPATH=$HOME/soft/python-lib/lib/python2.7/site-packages/requests-2.3.0-py2.7.egg:$HOME/bin/modeller9.15/modlib/:$HOME/bin/modeller9.15/lib/x86_64-intel8/python2.5;export LD_LIBRARY_PATH=$HOME/bin/modeller9.15/lib/x86_64-intel8:$LD_LIBRARY_PATH;export prodir=$HOME/soft/procheck;export PROQ_DIR12=$HOME/soft/ProQv1.2;export NACCESS=$HOME/soft/naccess2.1.1/naccess;export STRIDE=$HOME/soft/stride/stride;export TMPDIR=/pasteur/scratch/amine/tmp'
        timeline.enabled = true
        dag.enabled = true
        report.enabled = true
    }

    common {
        process.executor = 'slurm'
        process.clusterOptions='--qos=fast'
        process.queue = 'common'
        process.beforeScript ='source /local/gensoft2/adm/etc/profile.d/modules.sh;module use /pasteur/projets/policy01/Matrix/modules'
        process.module = 'Python/2.7.8:Clustal-Omega/1.2.1:fasta:hmmer/3.1b2:blast+/2.6.0:R/3.5.0'
    }

    common_singularity {
        process.executor = 'slurm'
        process.clusterOptions='--qos=normal'
        process.queue = 'common'
        process.container = 'file:///pasteur/projets/policy01/Matrix/metagenomics/pcm/pcm.img'
        singularity.enabled = true
        singularity.autoMounts = false
        singularity.runOptions = "-B /pasteur:/pasteur"
    }

    common_singularity_galaxy {
        process.executor = 'slurm'
        process.clusterOptions='--qos=normal'
        process.queue = 'common'
        singularity.enabled = true
        singularity.autoMounts = false
        singularity.runOptions = "-B /pasteur:/pasteur"
    }

    singularity {
        process.container = 'file:///pasteur/homes/aghozlan/pcm/img/pcm.img'
        singularity.enabled = true
        singularity.autoMounts = false
        singularity.runOptions = "-B /pasteur:/pasteur"
        process.executor = 'slurm'
        process.clusterOptions='--qos=hubbioit'
        process.queue = 'hubbioit'
    }
}


