manifest {
    homePage = 'https://github.com/aghozlane/pcm'
    description = 'Annotation using pcm approach'
    mainScript = 'pcm.nf'
}

process {
    withName: prosa_check {
       executor = 'local'
       submitRateLimit : '1 sec'
    }
    //withLabel: modelling {
    //    beforeScript = 'export TMPDIR=/local/scratch/'
    //}
    withName: lineartest {
        container = 'file:///pasteur/homes/aghozlan/pcm/pcm_202001.img'
    }
    withName: search_distant_homologuous {
        //clusterOptions='--qos=normal'
        //process.queue = 'common'
        //errorStrategy = 'finish'
        memory = { 5.GB * task.attempt }
    }
    withName: homology_modelling {
        memory = { 5.GB * task.attempt }
    }
}

singularity {
    enabled = true
    runOptions = "-B /pasteur:/pasteur"
    autoMounts = false
}

profiles {

//    conda {
//        process.conda = 'pcm.yaml'
//    }

    hub {
        process.executor = 'slurm'
        process.clusterOptions='--qos=hubbioit'
        process.queue = 'hubbioit'
        process.beforeScript ='source /local/gensoft2/adm/etc/profile.d/modules.sh;module use /pasteur/projets/policy01/Matrix/modules;export PYTHONPATH=$HOME/soft/python-lib/lib/python2.7/site-packages/requests-2.3.0-py2.7.egg:$HOME/bin/modeller9.23/modlib/:$HOME/bin/modeller9.23/lib/x86_64-intel8/python2.5;export LD_LIBRARY_PATH=$HOME/bin/modeller9.23/lib/x86_64-intel8:$LD_LIBRARY_PATH;export prodir=$HOME/soft/procheck;export PROQ_DIR12=$HOME/soft/ProQv1.2;export NACCESS=$HOME/soft/naccess2.1.1/naccess;export STRIDE=$HOME/soft/stride/stride;export TMPDIR=/local/scratch/'
        process.module = 'Python/2.7.8:Clustal-Omega/1.2.4:fasta:hmmer/3.1b2:blast+/2.9.0:R/3.6.0:gcc/4.7.4:MMseqs2/11-e1a1c:openmpi/3.1.4'
        timeline.enabled = true
        //dag.enabled = true
        report.enabled = true

    }

    common {
        process.executor = 'slurm'
        process.clusterOptions='--qos=fast'
        process.queue = 'common'
        process.beforeScript ='source /local/gensoft2/adm/etc/profile.d/modules.sh;module use /pasteur/projets/policy01/Matrix/modules;export PYTHONPATH=$HOME/soft/python-lib/lib/python2.7/site-packages/requests-2.3.0-py2.7.egg:$HOME/bin/modeller9.23/modlib/:$HOME/bin/modeller9.23/lib/x86_64-intel8/python2.5;export LD_LIBRARY_PATH=$HOME/bin/modeller9.23/lib/x86_64-intel8:$LD_LIBRARY_PATH;export prodir=$HOME/soft/procheck;export PROQ_DIR12=$HOME/soft/ProQv1.2;export NACCESS=$HOME/soft/naccess2.1.1/naccess;export STRIDE=$HOME/soft/stride/stride;export TMPDIR=/local/scratch/'
        process.module = 'Python/2.7.8:Clustal-Omega/1.2.4:fasta:hmmer/3.1b2:blast+/2.9.0:R/3.6.0:gcc/4.7.4:MMseqs2/11-e1a1c:openmpi/3.1.4'
        timeline.enabled = true
        report.enabled = true
    }

    common_singularity {
        process.executor = 'slurm'
        process.clusterOptions='--qos=normal'
        process.queue = 'common'
        process.container = 'file:///pasteur/projets/policy01/Matrix/metagenomics/pcm/pcm_201909.img'
        singularity.enabled = true
        singularity.autoMounts = false
        singularity.runOptions = "-B /pasteur:/pasteur"
    }

    common_singularity_galaxy {
        process.executor = 'slurm'
        process.clusterOptions='--qos=normal'
        process.queue = 'common'
        singularity.enabled = true
        singularity.autoMounts = false
        singularity.runOptions = "-B /pasteur:/pasteur"
    }

    singularity {
        process.container = 'file:///pasteur/homes/aghozlan/pcm/pcm_202001.img'
        singularity.enabled = true
        singularity.autoMounts = false
        singularity.runOptions = "-B /pasteur:/pasteur"
        process.executor = 'slurm'
        process.clusterOptions='--qos=hubbioit'
        process.queue = 'hubbioit'
        //process.withLabel.modelling.beforeScript = 'export TMPDIR=/local/scratch/'
        //process.withName.prosa_check.executor = 'local'
    }
}


