manifest {
    homePage = 'https://github.com/aghozlane/pcm'
    description = 'Funcitionnal annotation using pcm approach'
    mainScript = 'pcm.nf'
}

profiles {

    singularity {
        process.container = 'file:///pasteur/homes/aghozlan/pcm/pcm_202002.img'
        singularity.enabled = true
        singularity.autoMounts = false
        singularity.runOptions = "-B /main_directory_path:/main_directory_path"
        process.executor = 'slurm'
        process.clusterOptions='--qos=fast'
        process.queue = 'fast'
    }
}


